<div id="container">
  <div class="d-flex">
    <div class="mh-100 bg-secondary" style="width: 10px;">
    </div>

    <div class="d-block mx-auto ms-3">
    <p> <%= params[:question] %></p>
    <p class="fst-italic"> - You</p>
    </div>
  </div>


  <div class="d-flex bg-warning">
    <div class="mh-100 bg-secondary" style="width: 10px;">
    </div>

    <div class="d-block mx-auto ms-3">
      <p class="fst-bold" ><%=
        if params[:question].downcase == "Gi am going to work"
          "Great!"
        elsif params[:question].to_s.include?("?")
          "Silly question, get dressed and go to work!"
        else
          "I don't care, get dressed and go to work!"
        end
      %></p>

    <p class="fst-italic"> - Bye me</p>
    </div>
  </div>

</div>
<%= link_to "Ask a new question", "/ask" %>
